@font-face {
    font-family: ibm;
    src: url("/public/fonts/ibm/IBMPlexSansArabic-Light.ttf");
    font-weight: 400;
}@font-face {
    font-family: ibm;
    src: url("/public/fonts/ibm/IBMPlexSansArabic-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: ibm;
    src: url("/public/fonts/ibm/IBMPlexSansArabic-Bold.ttf");
    font-weight: 600;
}